html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, body {
  height:100%;
  min-height:100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing:border-box;

  display:flex;
  flex-direction:column;
  justify-content:center;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

.wrap {
  display:flex;
  flex-direction:column;
  justify-content:center;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

.pages {
  height: 100%;
  margin: 0;
  margin-top:-15%;
  padding: 0;
  width: 100%;
}

/* Login Page */
.room.page .form {
  height: 100px;
  /*margin-top: -100px;*/
  /*position: absolute;*/

  text-align: center;
  /*top: 50%;*/
  width: 100%;
}

.room.page .buttons {
  margin-top:60px;
  text-align:center;
}

.room.page .buttons button {
  width:140px;
  padding:10px 15px;
  font-size:1.1em;
  color:#fff;
  border:none;
  cursor:pointer;
}

button:hover {
  opacity:0.7;
}
button#join {
  background-color:#00b300;
}
button#create {
  background-color:#0066ff;
}

.room.page .buttons button:not(:first-child) {
  margin-left:15px;
}

.room.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 500px;
}

.room.page .title {
  font-size: 200%;
}

.room.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}


.game {
  display: none;
  text-align: center;
}

.error {
  color: #ff0000;
  font-size: 14px;
  text-align: center;
  top: 50%;
  display: none;
}
